body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif, monospace;
}

/* Header, Hero, and Footer */
.header, .intro, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 32px;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

/* using ul.header-links does not get rid of the bullet points */
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    align-items: center;
    list-style-type: none; /* gets rid of bullets */
}

.header-links a, .content p, button {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none; /* gets rid of underlines */
}

/* Section 1 - Hero */
.intro {
    gap: 24px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

button {
    font-family: Roboto, sans-serif;
    width: 100px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.intro img {
    max-width: 500px; /* image scales down if it has to, but never scale up to be larger than set size */
    height: auto;
}

/* Section 2 - Cards and Info */
.card-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1F2937;
}

.card-area h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 12px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 52px;
}

.info img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.info p {
    max-width: 200px;
    text-align: center;
    flex: row wrap;
    font-size: 18px;
}
