body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif, monospace;
}

/* Header, Hero, and Footer */
.header, .intro, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 16px 128px;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

/* using ul.header-links does not get rid of the bullet points */
ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
    align-items: center;
    list-style-type: none; /* gets rid of bullets */
}

a, .content p, button, .footer .text {
    font-size: 18px;
    color: #E5E7EB;
}

.header a {
    text-decoration: none; /* gets rid of underlines */
}

/* Section 1 - Hero */
.intro {
    padding: 48px 128px;
    gap: 24px;
}

.intro.content {
    display: flex;
    flex-direction: column;
}

.intro .content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

button {
    font-family: Roboto, sans-serif;
    width: 100px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.intro img {
    max-width: 500px; /* image scales down if it has to, but never scale up to be larger than set size */
    height: auto;
}

/* Section 2 - Cards and Info */
.card-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1F2937;
    padding: 48px 128px;
    margin-bottom: 16px;
}

.card-area h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 12px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 52px;
}

.info img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 8px;
    /*box-shadow: 0 0 15px 0 lightslategray;*/
}

.info p {
    max-width: 200px;
    text-align: center;
    flex: row wrap;
    font-size: 18px;
}

/* Section 3 with large quote text */
.quote-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 16px 128px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-src {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

/* Section 4 with call to action */
.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 64px 128px;
}

.call-to-action {
    display: flex;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    background-color: #3882F6;
    padding: 48px 64px;
    border-radius: 8px;
}

.call-to-action.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content h3 {
    font-size: 18px;
    color: #E5E7EB;
}

.call-to-action button {
    border: 1px solid white;
}

/* Footer */
.footer {
    justify-content: center;
}